modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm start"
waitForPort = 5000

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NODE_ENV = "production"
PORT = "5000"
CLIENT_URL = "https://97335385-df1b-43c0-abad-2a5e52a1ec9f-00-1r1yeihrc3gpe.riker.replit.dev"
JWT_SECRET = "d0049d97e129dea976f26c6b48c61b8b6992826f84f35f076c95c37f9899f7b3907ec259376f9e0f06a2f8e6332e5fb7"
JWT_REFRESH_SECRET = "7fd52da9d891209a81a124be98d279b66b2f5740f4abbae65cf18351866d223677d2e6f944b93612e7f1f7dd9bf0db98"
